.App {
  text-align: center;
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #aaa;
  min-height: 100vh;
}

.App .show {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .time {
  flex: 0 0 auto;
  margin-bottom: 10px;
}